node_modules
.next
out
public
.prettierrc.js
.eslintrc.js
tailwind.config.js
next.config.js
postcss.config.js
src/components/
src/app/post/_components/ModelViewer
.storybook
src/stories
jest.config.js
jest.setup.js
commitlint.config.js
src/libs/fetcher/fetcher.ts
```
